@import url("https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800|Open+Sans:300,400,600,700,800");
.container {
  margin: 0 auto; }

@media (min-width: 1200px) {
  .container {
    width: 1170px; } }

.header {
  background-image: url(../images/inne/materac.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden; }

.header__filter {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  display: inline-table;
  padding-bottom: 5px; }

.header__menu {
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 1; }

.header__logo-wrapper {
  width: 20%;
  height: 0;
  padding-bottom: 20%;
  background-color: #e10024;
  position: relative; }

.header__logo {
  width: 80%;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); }

.header__list {
  text-align: center;
  width: 80%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  color: white;
  background-color: #e10024;
  position: absolute;
  right: 0;
  transition: 1s;
  z-index: 2;
  white-space: nowrap; }

.hide {
  width: 0%; }

.header__list-item {
  padding: 5px 0;
  transition: 0.3s; }
  .header__list-item:hover {
    transform: scale(1.2); }

.header__heading-wrapper {
  color: white;
  font-size: 20px;
  text-align: center;
  margin-top: 115px;
  padding-bottom: 50px; }

.header__heading, .header__heading-caption {
  font-weight: 700; }

.header__heading-caption {
  text-transform: uppercase;
  font-size: 14px; }

@media (min-width: 768px) {
  .header__logo-wrapper {
    width: 10%;
    padding-bottom: 10%; }
  .header__logo {
    width: 75%; }
  .header__list {
    width: auto;
    position: static;
    display: flex;
    align-items: center;
    background-color: transparent;
    font-weight: 700;
    font-size: 14px; }
  .header__list-item {
    padding: 0 20px; }
  .header__list-item--join {
    margin-left: 25px;
    background-color: #e10024;
    padding: 15px 30px;
    cursor: pointer; }
  .header__heading-wrapper {
    text-align: right;
    margin: 5% 25px 17% 0; }
  .header__heading {
    font-size: 45px; }
  .header__heading-caption {
    font-size: 18px; } }

@media (min-width: 1200px) {
  .header__heading-wrapper {
    text-align: right;
    margin: 10% 25px 25% 0; }
  .header__heading {
    fonts-size: 55px; } }

#nav-icon3 {
  width: 40px;
  height: 45px;
  display: block;
  position: absolute;
  top: 0;
  right: 5%;
  margin: 10px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  z-index: 10; }

#nav-icon3 span {
  display: block;
  position: absolute;
  height: 6px;
  width: 100%;
  background: #fff;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out; }

#nav-icon3 span:nth-child(1) {
  top: 0px; }

#nav-icon3 span:nth-child(2), #nav-icon3 span:nth-child(3) {
  top: 18px; }

#nav-icon3 span:nth-child(4) {
  top: 36px; }

#nav-icon3.open span:nth-child(1) {
  top: 18px;
  width: 0%;
  left: 50%; }

#nav-icon3.open span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }

#nav-icon3.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg); }

#nav-icon3.open span:nth-child(4) {
  top: 18px;
  width: 0%;
  left: 50%; }

@media (min-width: 768px) {
  #nav-icon3 {
    display: none; } }

.specialization__information-wrapper {
  padding: 15px; }

.specialization__matress-wrapper {
  padding: 0 15px; }

.specialization__heading {
  font-size: 24px;
  font-weight: 600;
  margin-top: 0; }

.specialization__heading-caption {
  line-height: 24px;
  font-size: 13px; }

.specialization__button {
  border: 3px solid #e10024;
  width: 50%;
  height: 40px;
  background-color: #fff;
  font-family: 'Muli';
  font-weight: 700;
  color: #666666;
  transition: 0.3s; }
  .specialization__button:hover {
    transform: scale(1.05);
    cursor: pointer; }

.specialization__matress-type {
  font-weight: 700;
  font-size: 13px;
  display: flex;
  margin-bottom: 10px; }

.specialization__matress-type-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center; }

.specialization__matress-type-heading, .specialization__matress-type-info {
  margin: 0; }

.specialization__matress-type-heading--red {
  color: #e10024; }

.specialization__matress-type-img {
  margin-right: 10px;
  align-self: flex-start; }

.specialization__matress-big-photo {
  max-width: 100%;
  margin: 25px 0 -5px 0; }

@media (min-width: 768px) {
  .production {
    background-image: url(../images/warehouse/magazynowanie_materacy.jpg); }
    .production__filter {
      background-image: linear-gradient(to right, #ffffff 80%, rgba(218, 218, 218, 0.8)); }
    .production__container {
      position: relative; }
    .production__specialization-wrapper {
      padding-top: 200px; }
  .specialization__button {
    height: 45px; }
  .specialization__heading {
    font-size: 28px;
    margin-bottom: 15px; }
  .specialization__information-wrapper {
    width: 70%;
    top: 15%; }
  .specialization__matress-wrapper {
    display: flex;
    align-items: center; }
  .specialization__matress-types-wrapper {
    width: 35%; }
  .specialization__matress-big-photo-wrapper {
    margin-left: 5%;
    width: 60%; } }

@media (min-width: 1200px) {
  .production__specialization-wrapper {
    padding-top: 170px;
    display: flex; }
  .specialization__information-wrapper {
    width: 40%; }
  .specialization__heading {
    margin-bottom: 35px; }
  .specialization__button {
    margin: 35px 0 0 0; }
  .specialization__matress-types-wrapper {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between; }
  .specialization__matress-type {
    flex-basis: 215px;
    margin-bottom: 25px; }
  .specialization__matress-wrapper {
    flex-direction: column;
    margin-left: 5%;
    width: 55%; }
  .specialization__matress-big-photo-wrapper {
    width: 100%;
    text-align: center; }
  .specialization__matress-big-photo {
    max-width: 90%; } }

.tiles {
  color: #fff; }
  .tiles__tile {
    background-size: cover; }
    .tiles__tile--first {
      background-image: url(../images/warehouse/magazyn_01.jpg); }
    .tiles__tile--second {
      background-image: url(../images/inne/truck.jpg); }
    .tiles__tile--third {
      background-image: url(../images/warehouse/magazyn_materacy_rotated.jpg); }
  .tiles__tile-filter {
    background-image: linear-gradient(#e10024 30%, rgba(200, 0, 0, 0.8));
    padding: 25px; }
    .tiles__tile-filter:hover {
      cursor: pointer;
      background: rgba(0, 0, 0, 0.6); }
    .tiles__tile-filter--dark {
      background-image: linear-gradient(#ae001c, rgba(200, 0, 0, 0.8)); }
    .tiles__tile-filter--navy {
      background-image: linear-gradient(#04051a 30%, rgba(0, 0, 0, 0.9)); }
  .tiles__date {
    margin: 0; }
  .tiles__button-wrapper {
    display: flex;
    justify-content: flex-end;
    margin: 0 -25px; }
  .tiles__button {
    height: 30px;
    width: 30px;
    align-self: center;
    margin-left: 15px;
    transition: 0.3s; }
    .tiles__button:hover {
      transform: scale(1.2);
      cursor: pointer; }

@media (min-width: 768px) {
  .tiles {
    display: flex;
    flex-direction: row;
    position: absolute;
    top: -140px; } }

.work {
  color: #ffffff; }
  .work__filter {
    position: relative; }
  .work__photograph {
    max-width: 100%; }
    .work__photograph-wrapper {
      margin-bottom: -5px;
      position: relative; }
    .work__photograph-decoration {
      width: 60%;
      height: 105px;
      position: absolute;
      background-image: url(../images/warehouse/materace_wyciety_kawalek.jpg);
      background-size: cover;
      background-position: center;
      bottom: 4px;
      transform: translate(-25%, 0%); }
      .work__photograph-decoration-image {
        height: 105px;
        background-image: linear-gradient(to right, #e10024 20%, rgba(255, 0, 0, 0.8)); }
  .work__header {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0; }
    .work__header-image {
      background-color: #e10024;
      align-self: center;
      width: 20%;
      padding: 25px 15px; }
    .work__header-heading {
      margin: 0 0 0 15px; }
  .work__offers {
    background-image: url(../images/warehouse/magazyn_materacy.jpg);
    background-size: cover;
    background-position: right; }
    .work__offers-filter {
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 20, 0.75); }
  .work__description {
    display: flex;
    flex-direction: column;
    padding: 0 15px; }
    .work__description--bold {
      font-weight: 700;
      margin-top: 10px; }
  .work__button {
    background-color: transparent;
    border: 3px solid #e10024;
    height: 40px;
    width: 70%;
    color: #ffffff;
    font-family: 'Muli';
    font-weight: 700;
    cursor: pointer; }
    .work__button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
      transition: 0.3s;
      cursor: pointer; }
      .work__button-wrapper:hover {
        transform: scale(1.05); }
    .work__button-arrow {
      background-color: #e10024;
      line-height: 40px;
      padding: 12px; }

@media (min-width: 768px) {
  .work {
    background-image: url(../images/warehouse/magazyn_materacy.jpg);
    background-size: cover; }
    .work__header {
      margin-left: 25px; }
    .work__filter {
      background-color: rgba(0, 0, 20, 0.75); }
    .work__container {
      display: flex; }
    .work__photograph-wrapper {
      width: 50%; }
    .work__offers {
      background-image: none;
      width: 50%;
      background-color: transparent; }
      .work__offers-filter {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent; }
    .work__header {
      font-size: 14px;
      margin-left: 10%;
      margin-bottom: 0px; }
      .work__header-heading {
        margin: 0 0 0 25px; }
    .work__description {
      font-size: 14px;
      padding-left: 10%;
      padding-right: 0px;
      align-self: flex-end; }
    .work__button-wrapper {
      justify-content: flex-start;
      margin-top: 8%; }
    .work__button-arrow {
      padding: 13px; } }

@media (min-width: 1200px) {
  .work__offers-filter {
    justify-content: flex-start; }
  .work__description {
    margin-top: 15%; }
  .work__photograph-decoration {
    height: 175px;
    width: 150%;
    transform: translate(-80%, 0%); }
    .work__photograph-decoration-image {
      height: 175px; } }

.invitation__text {
  padding: 0 15px; }
  .invitation__text-header {
    color: #343536;
    font-size: 14px; }
  .invitation__text-heading--red {
    color: #e10024; }
  .invitation__text-caption {
    color: #4d4f50;
    font-size: 13px; }
  .invitation__text-types {
    color: #4d4f50;
    font-size: 14px; }
    .invitation__text-types-paragraph--red {
      color: #e10024;
      text-transform: uppercase;
      font-weight: 500; }
    .invitation__text-types-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 25px 0; }
  .invitation__text-type {
    background-color: #f1f1f1;
    padding: 10px 15px;
    margin: 0 10px 10px 0;
    position: relative; }
    .invitation__text-type-box {
      height: 6px;
      width: 6px;
      background-color: #e10024;
      position: absolute;
      top: 0;
      left: 0; }
  .invitation__text-button {
    background-color: transparent;
    border: 3px solid #e10024;
    padding: 10px;
    height: 40px;
    font-family: 'Muli';
    font-weight: 900;
    cursor: pointer; }
    .invitation__text-button-wrapper {
      display: flex;
      margin-bottom: 10px;
      transition: 0.3s; }
      .invitation__text-button-wrapper:hover {
        transform: scale(1.05); }
    .invitation__text-button-arrow {
      background-color: #e10024;
      padding: 12px 15px;
      color: #ffffff;
      margin-left: -4px; }

.invitation__images {
  padding: 0 15px;
  padding-top: 25px;
  position: relative; }
  .invitation__images-matress {
    max-width: 70%; }
  .invitation__images-cart {
    max-width: 30%;
    position: absolute;
    top: 15%;
    left: 65%; }

@media (min-width: 992px) {
  .invitation {
    display: flex;
    background: linear-gradient(to top, #dadada, #ffffff); }
    .invitation__container {
      display: flex; }
    .invitation__text, .invitation__images {
      width: 50%; }
    .invitation__text {
      position: relative;
      background: #ffffff; }
      .invitation__text::before {
        content: "";
        display: inline;
        height: 100%;
        width: 1000px;
        background: #ffffff;
        position: absolute;
        top: 0;
        left: -1000px; }
    .invitation__images {
      padding: 0px;
      height: inherit;
      display: flex;
      flex-direction: column;
      justify-content: center; }
      .invitation__images-wrapper {
        padding-left: 10%;
        display: flex;
        flex-direction: column;
        justify-content: center; }
      .invitation__images-matress {
        align-self: center;
        max-width: 100%;
        padding-left: 0%;
        margin-top: 15%; }
      .invitation__images-cart {
        max-width: 30%;
        top: 50%;
        left: 70%;
        overflow: hidden; } }

@media (min-width: 1200px) {
  .invitation__images-matress {
    max-width: 80%;
    margin-left: -20%; }
  .invitation__images-cart {
    top: 30%;
    left: 60%;
    max-width: 40%; } }

@media (min-width: 1600px) {
  .invitation__images-matress {
    max-width: 100%;
    margin-left: 0%; }
  .invitation__images-cart {
    top: 25%;
    left: 75%;
    max-width: 50%; } }

.contact__details {
  padding: 25px 15px;
  background: #04051a;
  color: #ffffff;
  font-weight: 300;
  font-size: 13px; }
  .contact__details-paragraph--red {
    color: #e10024; }
  .contact__details-icon {
    width: 10px;
    color: #e10024;
    margin: 0px 15px 15px 0; }

.contact__certificate {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; }
  .contact__certificate-img {
    max-width: 100%;
    margin: 10px; }

@media (min-width: 768px) {
  .contact__container {
    display: flex; }
  .contact__details {
    width: 50%; }
  .contact__certificate {
    width: 50%;
    display: flex; }
    .contact__certificate-img {
      align-self: center; } }

@media (min-width: 992px) {
  .contact__details {
    display: flex;
    justify-content: space-between; }
    .contact__details-paragraph {
      margin: 0; }
      .contact__details-paragraph--red {
        margin-bottom: 10px; }
    .contact__details-icon {
      margin: 0 15px 0 0; }
    .contact__details-phone {
      margin-bottom: 10px; }
  .contact__certificate {
    justify-content: flex-start; } }

@media (min-width: 1200px) {
  .contact__details {
    position: relative; }
    .contact__details::before {
      content: "";
      display: inline;
      height: 100%;
      width: 1000px;
      background: #04051a;
      position: absolute;
      top: 0;
      left: -1000px; } }

.footer {
  height: 55px;
  background: #e10024; }
  .footer__container {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0px 15px; }
  .footer__paragraph {
    color: #ffffff;
    margin: 0; }
    .footer__paragraph-logo {
      max-width: 10px; }

@media (min-width: 1200px) {
  .footer__container {
    padding: 0; } }

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli', 'Open Sans';
  height: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

a {
  text-decoration: none;
  color: inherit; }
