@import url('https://fonts.googleapis.com/css?family=Muli:300,400,600,700,800|Open+Sans:300,400,600,700,800');

@import "utilities/_variables.scss";
@import "partials/_grid.scss"; 
@import "partials/_header.scss";
@import "partials/_hamburgerButton.scss";
@import "partials/_specialization.scss";
@import "partials/_tiles.scss";
@import "partials/_work.scss";
@import "partials/_invitation.scss";
@import "partials/_contact.scss";
@import "partials/_footer.scss";

body, html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Muli';
  height: 100%;
}

*, *:before, *:after {
  box-sizing: inherit;
}

a{
  text-decoration: none;
  color: inherit;
}