.footer{
  height: 55px;
  background: $red;
  &__container{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    padding: 0px 15px;
  }
  &__paragraph{
    color: #ffffff;
    margin: 0;
    &-logo{
      max-width: 10px;
    }
  }
}

@media (min-width: 1200px){
  .footer__container{
    padding: 0;
  }
}