.invitation{
  &__text{
    padding: 0 15px;
    &-header{
      color: $gray;
      font-size: 14px;
    }
    &-heading{
      &--red{
        color: $red;
      }
    }
    &-caption{
      color: lighten($gray, 10%);
      font-size: 13px;
    }
    &-types{
      color: lighten($gray, 10%);
      font-size: 14px;
      &-paragraph{
        &--red{
          color: $red;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &-wrapper{
        display: flex;
        flex-wrap: wrap;
        margin: 25px 0;
      }
    }
    &-type{
      background-color: $lightGray;
      padding: 10px 15px;
      margin: 0 10px 10px 0;
      position: relative;
      &-box{
        height: 6px;
        width: 6px;
        background-color: $red;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &-button{
      background-color: transparent;
      border: 3px solid $red;
      padding: 10px;
      height: 40px;
      font-family: 'Muli';
      font-weight: 900;
      &-wrapper{
        display: flex;
        margin-bottom: 10px;
      }
      &-arrow{
        background-color: $red;
        padding: 12px 15px;
        color: #ffffff;
        margin-left: -4px;
      }
    }
  }
  &__images{
    padding: 0 15px;
    padding-top: 25px;
    position: relative;
    background-image: linear-gradient(45deg, rgb(242, 242, 242), #ffffff);
    &-matress{
      max-width: 70%;
    }
    &-cart{
      max-width: 30%;
      position: absolute;
      top: 15%;
      left: 65%;
    }
  }
}

@media (min-width: 992px) {
  .invitation{
    display: flex;
    &__text, &__images{
      width: 50%;
    }
    &__images{
        height: inherit;
        display: flex;
        justify-content: center;
      &-matress{
        align-self: center;
        max-width: 80%;
        margin-left: -15%;
      }
      &-cart{
        max-width: 30%;
        top: 30%;
      }
    }
  }
}

@media (min-width: 1200px) {
  .invitation{
    &__images{
      &-cart{
        top: 15%;
        max-width: 40%;
      }
    }
  }
}