.invitation{
  &__text{
    padding: 0 15px;
    &-header{
      color: $gray;
      font-size: 14px;
    }
    &-heading{
      &--red{
        color: $red;
      }
    }
    &-caption{
      color: lighten($gray, 10%);
      font-size: 13px;
    }
    &-types{
      color: lighten($gray, 10%);
      font-size: 14px;
      &-paragraph{
        &--red{
          color: $red;
          text-transform: uppercase;
          font-weight: 500;
        }
      }
      &-wrapper{
        display: flex;
        flex-wrap: wrap;
      }
    }
    &-type{
      background-color: $lightGray;
      padding: 10px 15px;
      margin: 0 10px 10px 0;
      position: relative;
      &-box{
        height: 6px;
        width: 6px;
        background-color: $red;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
    &-button{
      background-color: transparent;
      border: 3px solid $red;
      padding: 10px;
      height: 40px;
      font-family: 'Muli';
      font-weight: 900;
      &-wrapper{
        display: flex;
      }
      &-arrow{
        background-color: $red;
        padding: 12px 15px;
        color: #ffffff;
        margin-left: -4px;
      }
    }
  }
}