.specialization__information-wrapper{
  padding: 15px;
}

.specialization__matress-wrapper{
  padding: 0 15px;
}

.specialization__heading{
  font-size: 24px;
  font-weight: 600;
  margin-top: 0;
}

.specialization__heading-caption{
  line-height: 24px;
  font-size: 13px;
}

.specialization__button{
  border: 3px solid $red;
  width: 50%;
  height: 40px;
  background-color: #fff;
  font-family: 'Muli';
  font-weight: 700;
  color: lighten(black, 40%);
}

.specialization__matress-type{
  font-weight: 700;
  font-size: 13px;
  display: flex;
  margin-bottom: 10px;
}

.specialization__matress-type-wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.specialization__matress-type-heading, .specialization__matress-type-info{
  margin: 0;
}

.specialization__matress-type-heading--red{
  color: $red;
}

.specialization__matress-type-img{
  margin-right: 10px;
  align-self: flex-start;
}

.specialization__matress-big-photo{
  max-width: 100%;
  margin: 25px 0 -5px 0;
}

@media (min-width: 768px) {
  .production{
    background-image: url(../images/warehouse/magazynowanie_materacy.jpg);
    &__filter{
      background-image: linear-gradient(to right, #ffffff 80%, rgba(218, 218, 218, 0.8));
    }
    &__container{
      position: relative;
    }
    &__specialization-wrapper{
      padding-top: 200px;
    }
  }
  
  .specialization{
    &__button{
    height: 45px;
  }
    &__heading{
      font-size: 28px;
      margin-bottom: 15px;
    }
  }
  .specialization__information-wrapper{
    width: 70%;
    top: 15%;
  }
  .specialization__matress-wrapper{
    display: flex;
    align-items: center;
  }
  
  .specialization__matress-types-wrapper{
    width: 35%;
  }
  
  .specialization__matress-big-photo-wrapper{
    margin-left: 5%;
    width: 60%;
  }
}

@media (min-width: 1200px) {
  .production__specialization-wrapper{
    padding-top: 170px;
    display: flex;
  }
  
  .specialization__information-wrapper{
    width: 40%;
  }
  
  .specialization__heading{
    margin-bottom: 35px;
  }
  
  .specialization__button{
    margin: 35px 0 0 0;
  }
  
  .specialization__matress-types-wrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .specialization__matress-type{
    flex-basis: 215px;
    margin-bottom: 25px;
  }
  
  .specialization__matress-wrapper{
    flex-direction: column;
    margin-left: 5%;
    width: 55%;
  }
  
  .specialization__matress-big-photo-wrapper{
    width: 100%;
    text-align: center;
  }
  
  .specialization__matress-big-photo{
    max-width: 90%;
  }
}