.work{
  color: #ffffff;
  &__filter{
    margin-bottom: 50px;
    position: relative;
  }
  &__photograph{
    max-width: 100%;
    &-wrapper{
      margin-bottom: -5px;
      position: relative;
    }
    &-decoration{
      width: 60%;
      height: 105px;
      position: absolute;
      background-image: url(/images/warehouse/materace_wyciety_kawalek.jpg);
      background-size: cover;
      background-position: center;
      bottom: 4px;
      transform: translate(-25%, 0%);
      &-image{
        height: 105px;
        background-image: linear-gradient(to right, $red 20%, rgba(255, 0, 0, 0.8));
      }
    }
  }
  &__header{
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    &-image{
      background-color: $red;
      align-self: center;
      width: 20%;
      padding: 25px 15px;
    }
    &-heading{
      margin: 0 0 0 15px;
    }
  }
  &__offers{
    background-image: url(../images/warehouse/magazyn_materacy.jpg);
    background-size: cover;
    background-position: right;
    &-filter{
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 20, 0.75);
    }
  }
  &__description{
    display: flex;
    flex-direction: column;
    padding: 0 15px;
    &--bold{
      font-weight: 700;
      margin-top: 10px;
    }
  }
  &__button{
    background-color: transparent;
    border: 2px solid $red;
    height: 40px;
    width: 70%;
    color: #ffffff;
    font-family: 'Muli';
    font-weight: 700;
    &-wrapper{
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      margin: 25px 0;
      cursor: pointer;
    }
    &-arrow{
      background-color: $red;
      line-height: 40px;
      padding: 12px;
    }
  }
}

@media (min-width: 768px) {
  .work{
    background-image: url(../images/warehouse/magazyn_materacy.jpg);
    background-size: cover;
    &__header{
      margin-left: 25px;
    }
    &__filter{
      background-color: rgba(0, 0, 20, 0.75);
    }
    &__container{
      display: flex;
    }
    &__photograph-wrapper{
      width: 50%;
    }
    &__offers{
      background-image: none;
      width: 50%;
      background-color: transparent;
      &-filter{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: transparent;
      }
    }
    &__header{
      font-size: 14px;
      margin-left: 10%;
      margin-bottom: 0px;
      &-heading{
        margin: 0 0 0 25px;
      }
    }
    &__description{
      font-size: 14px;
      padding-left: 10%;
      padding-right: 0px;
      align-self: flex-end;
    }
    &__button{
      &-wrapper{
        justify-content: flex-start;
        margin-top: 8%;
      }
      &-arrow{
        padding: 13px;        
      }
    }
  }
}

@media (min-width: 1200px) {
  .work{
    &__offers{
      &-filter{
        justify-content: flex-start;
      }
    }
    &__description{
      margin-top: 15%;
    }
  &__photograph{
    &-decoration{
      height: 175px;
      width: 150%;
      transform: translate(-80%, 0%);
      &-image{
        height: 175px;
      }
      }
    }
  }
}